body {
    background: linear-gradient(90deg, #444,#000);
}
 
h1 {
    color: white;

}
 
h3 {
    color: white;
}

p {
    color: white;
}

.image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    padding-top: 30px;     
}

div img{
    max-width: 350px;
    border-start-start-radius:20px;
    
   
}

img:hover {
    transition: 1s;
    scale:1.1;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 450px;
   
}

.text {
    font-size: 29px;
    padding-left: 50px;
}

